._6dd7678c-5dc7-11e6-9ccd-00163edb1deb {
  #downloadMap {
      display: none;
  }

  /* Styles for specific tour steps */
  #step-0 {
   max-width: none;
  }

  .popover {
    .popover-title {
      padding: 1ex;
      font-weight: bold;
      font-size: 16pt;
      color: #333;
    }
  }

  .tourMarker {
    display: none;
  }
}
