@import 'map';
@import 'plugins';

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// Fonts
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes:400);

/* Coolors Exported Palette - coolors.co/6a7173-96a73a-dcedff-94b0da-343f3e */

$snapGray: #6a7173; //rgba(106, 113, 115, 100)
$snapGreen: #96a73a; //rgba(150, 167, 58, 100)
$lightBlue: #dcedff; //rgba(220, 237, 255, 100)
$mediumBlue: #94b0da; //rgba(148, 176, 218, 100)
$darkGray: #343f3e; //rgba(52, 63, 62, 100)

html, body {
  color: $darkGray;
  height: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
  color: $snapGray;
  font-family: 'Lato', serif;
  font-weight: bold;
}

body {
  padding: 0;
  background: transparent url(/images/grid.png) repeat;
  background-screen-mode: darken;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/* Custom page header */
.header {
  margin: 0;

  .navbar {
    margin: 0;
  }

  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Use nested flexboxes to fill remaining height with map */
body, .middle, .middle .container-fluid {
  display: flex;
  flex-direction: column;
}

.middle, .middle .container-fluid, #snapmapapp {
  flex: 1;
}

/* Formatting for plain text-based pages */
.content {
  margin-top: 30px;
}

/* Custom page footer */
.footer {
  color: #777;
  background-color: rgba(225, 225, 225, .8);
  padding: 1ex;
  z-index: 500;
  border-top: 1px solid #e5e5e5;

  p {
    margin: 0 0 0 1ex;
  }

  @media (max-width: 768px) {
    font-size: 8pt;
    padding: .25ex;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin: -30px -15px 15px -15px;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.fade {
  opacity: 1;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  transition: all linear 1000ms;
  display: block !important;
}

div.container.about {
  text-align: center;
  h1 {
    margin-top: 1em;
  }
  p {
    margin-top: 2em;
  }
  .sponsors {
    img {
      width: 5em;
      margin: 0 1em;
    }
  }
  img.snap {
    display: inline-block;
    margin-top: 2em;
    width: 20em;
  }
  h2 {
    font-size: 20pt;
    &.subtitle {
      margin-top: .5ex;
    }
  }
  h3.featuring {
    margin: 1em 0 .5ex;
    font-family: "Great Vibes";
    font-size: 36px;
    font-weight: 400;
  }
  h4 {
    margin: 2em 0;
  }
  & .mapList {
    padding: 0;
    margin: 0;
    list-style: none;
    & li {
      cursor: pointer;
      font-size: 18pt;
      padding: 0;
      margin: 0 0 .75ex 0;
      line-height: .92;
    }
  }
}

.tour-tour.popover {
  font-family: 'Lato', sans-serif;
  h3.popover-title {
    font-size: 14pt;
    font-weight: bold;
    color: #333;
  }
}
