._d5a90928-2119-11e6-92e2-08002742f21f * {
  /* This is just a placeholder for the merge. */
  .leaflet-popup-content {
    z-index: 1000;

    h1 {
      color: #322323;
    }

    h2 {
      font-size: 1rem;
      margin-bottom: 0;
    }

    h3 {
      font-size: .75rem;
      margin-bottom: 0;
    }

    p.updated {
      margin-top: .25ex;
      font-weight: 300;
      color: #988989;
    }
  }

  #splashOverviewContent {
    h1 {
      margin: 0 0 1ex 0 !important;
      padding: 0 !important;
    }
    ul {
      margin-bottom: 1em;
    }
  }
}
