#minimize-layer-div {
  position: absolute;
  left: 15px;
  padding: 15px 0 0 0;
  z-index: 3;
}

.layer-menu {
  position: absolute;
  left: 15px;
  right: 15px;
  max-width: 600px;
  padding: 25px 15px 5px 15px;
  margin: 15px 25px 0 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, .75);

  .map {
    margin-bottom: 10px;
    h2 {
      margin-top: 0;
      display: inline;
    }
    .info {
      float: right;
    }
  }

  .layer {
    margin: 5px 0;
    cursor: pointer;
    cursor: hand;
    .btn {
      margin: 0 5px 0 0;
    }
  }
}

.layer-menu.clear {
  background-color: rgba(255,255,255,0);
}

.zoom {
  transform: scale(1.5, 1.5);
  box-shadow: 10px 3px 3px black;
  transition: 500ms;
}

.no-zoom {
  transform: scale(1, 1);
  box-shadow: none;
  transition: 500ms;
}

.bling {
  padding: 1em;
  background-color: #F3FFC5;
  transition: 500ms;
}

.no-bling {
  padding: inherit;
  background-color: inherit;
  transition: 500ms;
}

#snapmapapp {
  position: absolute;
  width: 100%;
  height: 87%;
}

#snapmapapp.half {
  position: absolute;
  width: 50%;
  height: 87%;
  right: 50%;
  border: 2px solid rgba(150, 168, 48, 1.0);
}

#secondmap {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 87%;
  border: 2px solid rgba(150, 168, 48, 1.0);
  z-index: -1;
}

#secondmap.half {
  z-index: 0;
}

#showDualMaps, #syncDualMaps, #downloadMap {
  margin-right: 3px;
}

#info-sidebar {
  font-family: 'Lato';
  font-size: 150%;

  img {
    margin: 0 0 2rem 2rem;
    display: block;
    float: right;
  }
  h3 {
    margin-bottom: 3rem;
  }
  h4 {
    margin-top: 2rem;
    font-size: 150%;
  }
  p {
    margin: 10px 0;
  }
}

.splash-screen {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(150, 168, 48, 0.8);
  z-index:5000;
  .billboard {
    h2 {
      margin: 0 0 2rem 0;
      line-height: 120%;
      padding: 0;
    }
    width: 45rem;
    margin: 3rem auto;
    padding: 3rem;
    background-color: rgba(255, 255, 255, .8);
  }
}
