#minimize-layer-div {
  display: block;
  position: absolute;
  left: 15px;
  top: 4em;
  padding: 1em;

  // Negative margin to left-align, but keep ample
  // whitespace padding
  margin: 0 0 0 -1em;
  z-index: 501;
  cursor: pointer;
  background-color: inherit;

  &.minimized {
    background-color: rgba(255, 255, 255, .75);
  }
}

#tools-wrapper {
  position: relative;
  z-index: 500;
}

.leaflet-top, .leaflet-bottom {
  z-index: 499;
}

.layer-menu {
  z-index: 500;
  background-color: rgba(255, 255, 255, .75);
  position: absolute;
  top: 4em;
  padding: 3em 1em 1em 1em;
  .layer {
    margin: 5px 0;
    cursor: pointer;
    cursor: hand;
    .btn {
      margin: 0 5px 0 0;
    }
  }
  .mapTools {
    margin: 1em 0;
    label {
      display: block;
      margin: 1ex 0;
      text-align: left !important;
      width: 16em;
    }
  }
}

.layer-menu.clear {
  background-color: rgba(255,255,255,0);
}

.zoom {
  transform: scale(1.5, 1.5);
  box-shadow: 10px 3px 3px black;
  transition: 500ms;
}

.no-zoom {
  transform: scale(1, 1);
  box-shadow: none;
  transition: 500ms;
}

.bling {
  padding: 1em;
  background-color: #F3FFC5;
  transition: 500ms;
}

.no-bling {
  padding: inherit;
  background-color: inherit;
  transition: 500ms;
}

#mapsWrapper {

  #snapmapapp {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #snapmapapp.half {
    position: absolute;
    width: 50%;
    right: 50%;
    border-right: 1px solid #888;
  }

  #secondmap {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    border: 0;
    z-index: -1;
  }

  #secondmap.half {
    z-index: 0;
  }
}
#info-sidebar {
  font-family: 'Lato';
  font-size: 150%;

  // Assign the ID to override an !important
  // assigned in the general Leaflet css.
  img #legend {
    max-width: 100%;
    display: block;
    float: right;
  }
  h3 {
    margin-bottom: 3rem;
  }
  h4 {
    margin-top: 2rem;
    font-size: 150%;
  }
  p {
    margin: 10px 0;
  }
}

.splash-screen {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(150, 168, 48, 0.8);
  z-index:5000;
  .billboard {
    h2 {
      margin: 0 0 2rem 0;
      line-height: 120%;
      padding: 0;
    }
    width: 45rem;
    margin: 3rem auto;
    padding: 3rem;
    background-color: rgba(255, 255, 255, .8);
    .buttons {
      margin-top: 2em;
      a {
        cursor: pointer;
        display: inline-block;
        margin-left: 1.25em;
        font-size: 10pt;
      }
    }
  }
}

#mapTitle {
  position: absolute;
  top: 0; left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, .9);
  margin: 0;
  padding: .5ex;
}

.leaflet-container {
  background-color: #fff;
}
