
<!-- Modal -->
<div class="modal modal-fullscreen" id="iamInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detailed information about data used in this map</h4>
      </div>
      <div class="modal-body">


<!-- Start content -->
<h1>Ecological</h1>
<h2>Mammals</h2>

<h3>Beluga whale (Delphinapterus leucas)</h3>

<div class="photo">
  <img src="http://www.afsc.noaa.gov/nmml/gallery/cetaceans/images/nmmlweb-belugawhale-15.jpg"/>
  <cite><a href="http://www.afsc.noaa.gov/nmml/gallery/cetaceans/beluga-15.php">Photo: Vicki Beaver, Alaska Fisheries Science Center, NOAA Fisheries Service.</a></cite>
</div>
<p>Beluga whales are adapted to ecosystems dominated by sea ice and rely on estuaries and lagoons especially for feeding and calving, and also rely on loose annual pack ice, leads and polynyas, and shallow continental shelf waters. They prefer shallow water in general but are known to roam to deep waters as well. These toothed whales feed on several species of fish and occasionally octopus, shrimps, crabs, mussels and clams.</p>
<p>Kasegaluk Lagoon and Kotzebue Sound are high concentration areas. Key habitats include feeding, molting and calving areas like Norton Sound, Ledyard bay, Kasegaluk Lagoon, Smith Bay, and Mackenzie Bay. There are three stocks of beluga whales inhabiting at least partly in the IAM area: the Eastern Beaufort Sea stock (estimated population size 32,000), the Eastern Chukchi Sea stock (3,700) and the Eastern Bering Sea stock (15,000).</p>
<p>Conservation status: Near Threatened (IUCN) and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses. Belugas are an important food resource for the Alaska Natives.</p>

<div class="source">
  <cite>Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.</cite>
  <p>
  <a href="http://www.iucnredlist.org/details/6335/0">http://www.iucnredlist.org/details/6335/0</a>
  </p>
</div>



<h3>Bowhead whale (Balaena mysticetus)</h3>
<div class="photo">
  <img src="http://www.afsc.noaa.gov/nmml/gallery/cetaceans/images/nmmlweb-Bowheadwhale-11.jpg" alt="Bowhead Whale" />
  <cite><a href="http://www.afsc.noaa.gov/nmml/gallery/cetaceans/bowhead-11.php">Photo: Amelia Brower, Alaska Fisheries Science Center, NOAA Fisheries Service.</a></cite>
</div>
<p>Bowhead whales are ice-associated species and they prefer areas with dense annual pack ice, leads or polynyas, and continental shelf waters. They can live at least 150 years and mainly feed on zooplankton that they filter from the water.</p>
<p>Key habitats include feeding areas around the Chukchi and Beaufort sea coasts, spring migration high concentration areas like St. Lawrence Island and Barrow, and the quiet zone following the coast where Alaska Natives traditionally hunt. Bering Strait is a key migration habitat and bottleneck in spring and fall. The global population size of bowhead whales has risen up to 9,000 to 10,000 individuals from being overharvested in the beginning of 1900s, and the population trend is increasing. They are the only baleen whales not migrating to temperate or tropical waters.</p>
<p>Conservation status: Least Concern (IUCN) and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses. Bowhead whales are an important food resource for the Alaska Natives.</p>

<cite>Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.</cite>

<p><a href="http://www.afsc.noaa.gov/nmml/gallery/cetaceans/images/nmmlweb-belugawhale-15.jpg">http://www.iucnredlist.org/details/2467/0</a></p>



<h3>Gray whale (Eschrichtius robustus)</h3>
<div class="photo">
<img src="http://www.afsc.noaa.gov/nmml/gallery/cetaceans/images/nmmlweb-Graywhale-15.jpg" alt="Gray Whale"/>
<cite><a href="http://www.afsc.noaa.gov/nmml/gallery/cetaceans/gray-15.php">Photo: Merrill Cosho, Alaska Fisheries Science Center, NOAA Fisheries Service.</a></cite>
</div>

<p>Gray whales are the only baleen whales feeding primarily on benthic prey by filtering zooplankton from the seafloor. They spend their summers feeding in water less than 200 m deep.</p>
<p>Key habitats include waters around St. Lawrence Island, the Chukotka Peninsula and the Kotzebue Sound. They are found in high concentrations in the Chirikov Basin in bering Sea. The population size of the gray whales that migrate to Alaska’s Arctic is estimated around 18,000 with population trend increasing and recovering from overharvesting. Gray whales migrate seasonally to the IAM study area from Mexico totalling 16,000 km every trip.</p>
<p>Conservation status: Least Concern (IUCN and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses.</p>

<div class="source"><cite>Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.</cite>

  <a href="http://www.iucnredlist.org/details/8097/0">http://www.iucnredlist.org/details/8097/0</a></div>







Pacific walrus (Odobenus rosmarus divergens)

Pacific walrus is a long-lived pinniped that forages benthic invertebrates and relies on sea ice its whole life. As it uses dense, large ice floes for resting, birthing and nursing their existence is critical for its survival. Walrus follow the sea ice edge as it migrates north in spring and south in fall.

The key habitats are located at the Hanna and Herald shoals, mating areas southwest from St. Lawrence Island and migration routes. The population size is estimated around 201,000 to 234,000 but the population trend is unknown.

Conservation status: Vulnerable (Data Deficient, IUCN) and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses.


Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.

http://www.iucnredlist.org/details/15106/0




Photo: U.S. Geological Survey

http://climate.nasa.gov/news/2279/






Bearded seal (Erignathus barbatus)

Bearded seals are the largest Arctic seal species. They feed on benthic prey and rely on areas of high benthic biomass. In the winter their distribution is quite broad while spending most of the time near broken pack ice offshore. In spring bearded seals are more concentrated while migrating through Bering Strait and following the pack ice edge. They rest, pup and molt on the ice and when the summer comes they are again more widely dispersed but continue to follow the ice edge into the Chukchi and Beaufort seas.

Hanna Shoal seems to be one of the key habitats for bearded seals as it diverts warm water and results in longer ice season. The areas with 70% to 90% of pack ice concentration and high benthic biomass are essential for bearded seals and hence northern Bering Sea near St. Lawrence Island and the southern Chukotka coast can be seen as key habitats. The population in Alaska is estimated around 250,000 to 300,000 but the population trend is unknown.

Conservation status: Least Concern (IUCN) and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses.

Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.

http://www.iucnredlist.org/details/8010/0




Photo: John Jansen, Alaska Fisheries Science Center, NOAA Fisheries Service.

http://www.afsc.noaa.gov/nmml/gallery/pinnipeds/bearded-12.php






Ribbon seal (Histriophoca fasciata)

Ribbon seals are medium-sized seals mainly feeding on fish. They spend their whole life at sea. They pup, mate and molt on the pack ice edge in spring and visits the northern Bering and Chukchi seas during the late summer and fall in search of food.

The key habitats of ribbon seals are located in the waters around St. Lawrence Island and the northern coasts Chukotka, Hope Basin and Herald Shoal. The Bering and Chukchi seas population is estimated at 90,000 to 100,000 but the population trend is unknown.

Conservation status: Least Concern (IUCN) and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses.

Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.

http://www.iucnredlist.org/details/41670/0




Photo: Vladimir Burkanov, Alaska Fisheries Science Center, NOAA Fisheries Service.

http://www.afsc.noaa.gov/nmml/gallery/pinnipeds/ribbon-5.php






Ringed seal (Pusa hispida)

Ringed seals are the smallest seal species and also the most common and widespread in the circumpolar Arctic. They mainly prey on fish and invertebrates and are themselves the main prey of polar bears. Life of the ringed seals is highly associated with ice and in winter they live near open leads maintaining breathing holes through the ice. They follow the pack ice edge to the north when temperatures rise and resting, pupping and molting takes place on the ice in spring. Ringed seals also rely on lairs that they dig at pressure ridges in the ice to protect themselves and their pups from predators and severe weather.

The key habitats of ringed seals include areas with more than 90% of ice concentration and generally landfast ice is preferred rather than pack ice. High concentration of ringed seals can be found at Kasegaluk Lagoon. The population in Alaska is estimated around 249,000 but the population trend is unknown.

Conservation status: Least Concern (IUCN) and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses. Ringed seals are an important subsistence species for Alaska Natives.

Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.

http://www.iucnredlist.org/details/41672/0








Photo: Michael Cameron, Alaska Fisheries Science Center, NOAA Fisheries Service.

http://www.afsc.noaa.gov/nmml/gallery/pinnipeds/ringed-2.php






Spotted seal (Phoca largha)

Spotted seals are medium-sized fish foragers that live strongly associated with sea ice during fall, winter and spring. Unlike other ice-seals, spotted seals use haulouts based on shores for summer foraging.

Key habitat areas for spotted seal are located in the haulouts on the coast of the Seward Peninsula and the northwest Chukchi Sea coast. Some estimates of the spotted seal world population has been made but a reliable estimate of the population abundance is currently unavailable. The Bering Sea population is estimated around 100,000 but the trend is unknown.

Conservation status: Least Concern (IUCN) and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses.

Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.

http://www.iucnredlist.org/details/17023/0




Photo: Jay Verhoef, Alaska Fisheries Science Center, NOAA Fisheries Service.

http://www.afsc.noaa.gov/nmml/gallery/pinnipeds/spotted-13.php








Polar bear (Ursus maritimus)

Polar bears spend all their lives relying on see ice in the Arctic. Where they occur depends on the season, ocean currents, ice and weather conditions, and the availability of seals, especially their primary food source ringed seals. Occasionally polar bears feed on other Arctic mammals, birds and plants, and if available, marine mammal carcasses. The sea ice helps polar bears in hunting and feeding, in seeking mates and breeding, for movement to terrestrial maternity denning areas and sometimes denning itself, and for long-distance movements. Bears follow the ice edge seasonally and are most common near coastlines and the southern extent of the ice pack.

The key habitat areas include critical denning areas along the Beaufort Seas coast from Barrow to the Canadian border, especially the Arctic National Wildlife Refuge coastal plain, and critical feeding habitat proposed by the U.S. Fish and Wildlife Service (USFWS) located from the Beaufort sea shoreline to the continental shelf break westward towards Russia. The current population in Chukchi and Bering Sea is estimated, although not reliably, around 2,000. The population in southern Beaufort Sea is estimated around 1,500 individuals.

Conservation status: Vulnerable (IUCN) and protected by the Marine Mammal Protection Act (MMPA) which allows harvesting only for Alaska Native subsistence uses.


Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.

http://www.iucnredlist.org/details/22823/0




Photo: http://www.arctic.noaa.gov/bear-images/Polar-Bear-Crane.JPG








Caribou (subspecies barrenground, Rangifer tarandus granti)

Caribou is a migratory angular widely distributed around the circumpolar Arctic. The subspecies barrenground caribou occurs predominantly in Alaska where it prefers treeless tundra and mountains, although many herds spend their winters in boreal forests.

There are four caribou herds occupying in the IAM study area whose distribution areas overlap: Porcupine (population 197,000), Central Arctic (50,000), Teshekpuk Lake (32,000) and Western Arctic (235,000) that all have distinctive calving areas but they might change their migrations routes and destinations due to declined conditions of the old area. Once they decide to move they can travel up to 50 miles per day using their built-in compass for navigation.

Caribou has an important environmental, cultural and economic role in the Arctic.

http://www.abds.is/explore-species/mammals/reindeer-caribou

http://www.adfg.alaska.gov/index.cfm?adfg=caribou.main

http://carma.caff.is/carma-interactive-map

http://geo.abds.is/geonetwork/srv/eng/catalog.search#/metadata/4eaa2ba0-430d-4219-b5ef-30587a6afa19



Photo: http://www.adfg.alaska.gov/index.cfm?adfg=caribou.main


























Fish
Mecklenburg et al. (2008) describe that “despite their considerable ecological importance, the fishes inhabiting the Arctic Ocean and its seas are understudied and available information is scant compared to neighboring areas.” (In Arctic Marine Synthesis)

Capelin
Capelin, member of the smelt family, is s small forage fish that feeds on plankton near the ice edge. It provides food sources to several Arctic animals such as seabirds, other fishes and marine mammals. Its important concentration and spawning areas include Norton Sound.
Smith, M.A. 2010. Arctic Marine Synthesis: Atlas of the Chukchi and Beaufort Sea. Audubon Alaska and Oceana: Anchorage.

http://www.fisheries.is/main-species/pelagic-fishes/capelin/
Capelin, male above, female below
Illustration: Jón Baldur Hlíðberg


http://alaska.usgs.gov/science/biology/seabirds_foragefish/foragefish/Aleutian/photo_gallery.php
A male capelin in spawning condition, with an enlarged anal fin and raised lateral line.

Saffron cod

Adult. https://alaskafisheries.noaa.gov/habitat/nearshore-fish-photos
CHECK https://www.afsc.noaa.gov/Publications/AFSC-TM/TM-309_GadiformGuide-Press-Ready.pdf
Pink salmon

https://www.fws.gov/alaska/cybersalmon/pink.htm

Chum salmon

https://www.fws.gov/alaska/cybersalmon/chum.htm

Pacific herring

Adult and juveniles. https://alaskafisheries.noaa.gov/habitat/nearshore-fish-photos


http://www.adfg.alaska.gov/index.cfm?adfg=herring.photogallery&number=1


ESI_fish

http://response.restoration.noaa.gov/maps-and-spatial-data/download-esi-maps-and-gis-data.html#Alaska
(IAM study area covers the North Slope and part of Northwest Arctic and Western Alaska ESI areas)

Birds
Murre colonies
The two species of murres, thick-billed Uria lomvia and common U. aalge, both have circumpolar distributions, breeding in Arctic, sub-Arctic and temperate seas from alifornia and N Spain to N Greenland, high Arctic Canada, Svalbard, Franz Josef Land and Novaya Zemlya (Box 4.3 Fig. 1).
Conservation of Arctic Flora and Fauna, CAFF 2013 - Akureyri . Arctic Biodiversity Assessment. Status and Trends in Arctic biodiversity. - Birds (Chapter 4) page 163
http://geo.abds.is/geonetwork/srv/eng/catalog.search#/metadata/8942d6b5-6060-412b-b696-0aa583965317

IBA areas (Important bird areas)
The National Audubon Society (2009) and Birdlife International (2007) have identified IBAs in the Arctic Alaska among other areas. Alaska’s Arctic marine IBAs include numerous areas of global significance. Many of these IBAs are designated because of the great abundance of colonial seabirds in Arctic Alaska and Russia. Living in these areas are more than 11 million colonial nesters and millions more seabirds.
http://ak.audubon.org/conservation/arctic-marine-synthesis-atlas-chukchi-and-beaufort-seas
http://docs.audubon.org/sites/default/files/documents/31._important_bird_areas.pdf




-


Economic - Economic - Economic - Economic - Economic - Economic - Economic - Economic - Economic

Transportation

Airports
From the Alaska Department of Natural Resources - Land Records Information Section.
https://erma.noaa.gov/arctic/erma.html#/x=-153.36360&y=68.59751&z=6&layers=3+9679 layer file “Alaska Airports, Helipads, Seaplane Ports, Landing Strips (GNIS, 2011)

Ports
Some port coordinates for this file were provided in the data contributed by the Arctic member states for the AMSA. In order to provide a comprehensive overview of all Arctic ports and communities, additional research was completed to include ports additional to the ports provided by member states.
https://erma.noaa.gov/arctic/erma.html#/x=-154.55012&y=67.02138&z=5&layers=3+10417 layer file Ports and Communities (PAME, 2009)

DOT roadsystem
http://www.dot.state.ak.us/stwdplng/mapping/shapefiles.shtml Alaska DOT&PF Ruote Centerlines - May 2015
http://akdot.maps.arcgis.com/home/item.html?id=0642c35270ba418e95dd61756ccf1b7b

Road Centerlines contains Linear Reference System (LRS) routes for the State of Alaska.


Transportation infrastructure

Shipping routes

Oil infrastructure

Pipeline
The route of the Trans-Alaska Pipeline was received from Alyeska Pipeline Service Company via the State Pipeline Coordinator's Office. The original projection was Transverse Mercator. Annotation for the pipeline was added by DNR via the annotation sub class 'PIPE'.
Written permission to include these data as part of the ADNR digital base map has been received from the Alyeska Pipeline Service Company.
Alaska Department of Natural Resources - Information Resource Management, 1995, Trans-Alaska Pipeline.
http://dnr.alaska.gov/gis/mdfiles/trans_alaska_pipeline.html

AK lease areas
Ask Lena about the different looking layers
https://erma.noaa.gov/arctic/erma.html#/x=-157.03303&y=70.51483&z=6&layers=3+9333
http://www.boem.gov/Oil-and-Gas-Energy-Program/Leasing/Leasing.aspx


Wells
The layer contains Alaska OCS Oil and Natural Gas Wells (BOEM, 2012) and Chukchi Sea OCS Exploration Wells (BOEM, 2008). Data is available in Environmental Response Management Application (ERMA) within the Arctic section. The Alaska OCS data is maintained by the Bureau of Ocean Energy Management (BOEM) and the Chukchi Sea OCS data is from the Chukchi Sea Hazard Surveys Database (BOEM).
https://erma.noaa.gov/arctic/erma.html#/x=-161.91096&y=64.76126&z=4&layers=1+9491+9370
http://www.boem.gov/Oil-and-Gas-Energy-Program/index.aspx


Cultural - Cultural - Cultural - Cultural - Cultural - Cultural - Cultural - Cultural - Cultural - Cultural - Cultural
Communities and subsistence areas

Communities
GIS shapefile of Alaska communities, pieced together from various sources by SNAP. YEAR?

Villages

Subsistence
This layer represents "gathered and consolidated geospatial and ethnographic data (including Traditional Knowledge) that could be used to describe contemporary subsistence use patterns from Beaufort Sea communities over the last decade. The study produced graphical displays illustrating the geospatial extent of subsistence harvest by species on a community level".
North Slope Subsistence Use Areas (BOEM, 2009) CHECK THE PDFs
https://erma.noaa.gov/arctic/erma.html#/x=-161.91096&y=64.76126&z=4&layers=3+9707


Quiet zone
This data set contains bowhead whale subsistence data and mapping, gathered from 01 January 2003 through 31 December 2003. These data are part of the Barrow Area Spatial Data Infrastructure effort. The Bowhead Whale Subsistence Sensitivity mapping project includes GIS data on migration routes, seasonal ranges, hunting and search areas, and other areas highly sensitive to seasonal disturbance. The data and associated map are intended to be used as a guide in the planning and execution of research in arctic marine environments.
http://data.eol.ucar.edu/codiac/dss/id=106.310

Cultural and recreation areas

Cultural buildings
The National Register geospatial dataset is intended to be a comprehensive inventory of all cultural resources that are listed on the National Register of Historic Places. However, this dataset excludes all features deemed 'restricted' or 'sensitive', such as sensitive archaeological sites. This dataset provides feature geometry representations (point or polygon) and is intended to be supplemented with descriptive attributes maintained by other external database systems such as the National Register Information System which is included in this geodatabase.
Stutts M. 2014. National Register of Historic Places. National Register properties are located throughout the United States and their associated territories around the globe.
https://irma.nps.gov/DataStore/Reference/Profile/2210280
Downloadable GIS data of the National Park Service's National Register of Historic Places. NRHP is the official list of the Nation's historic places worthy of preservation. Authorized by the National Historic Preservation Act of 1966, NRHP is part of a national program to coordinate and support public and private efforts to identify, evaluate, and protect America's historic and archeological resources.

Cultural sites
The National Register geospatial dataset is intended to be a comprehensive inventory of all cultural resources that are listed on the National Register of Historic Places. However, this dataset excludes all features deemed 'restricted' or 'sensitive', such as sensitive archaeological sites. This dataset provides feature geometry representations (point or polygon) and is intended to be supplemented with descriptive attributes maintained by other external database systems such as the National Register Information System which is included in this geodatabase.
Stutts M. 2014. National Register of Historic Places. National Register properties are located throughout the United States and their associated territories around the globe.
https://irma.nps.gov/DataStore/Reference/Profile/2210280
Downloadable GIS data of the National Park Service's National Register of Historic Places. NRHP is the official list of the Nation's historic places worthy of preservation. Authorized by the National Historic Preservation Act of 1966, NRHP is part of a national program to coordinate and support public and private efforts to identify, evaluate, and protect America's historic and archeological resources.

http://www.nationalregisterofhistoricplaces.com/ak/north+slope/state.html
http://www.nationalregisterofhistoricplaces.com/ak/northwest+arctic/state.html
http://www.nationalregisterofhistoricplaces.com/ak/nome/state.html


Protected/recreation areas
Protected_Areas3338_clip_merge: Contains fully or parts of 14 protected areas
Alaska Maritime National Wildlife Refuge
Arctic National Wildlife refuge
Arctic NWR Wilderness Area
Bering Land Bridge National Preserve
Cape Krusenstern National Monument
Chamisso Island Refuge
Gates of the Arctic National Park
Gates of the Arctic National Preserve
James Dalton Highway Corridor
Kobuk Valley National Park
National Petroleum Reserve - Alaska
Noatak National Preserve
Selawik National Wildlife Refuge
Wind Wild & Scenic River


How about Hanna Shoal?















<!-- end content -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
