._d5a90928-2119-11e6-92e2-08002742f21f * {

  .leaflet-popup-content {
    z-index: 1000;

    h1 {
      font-size: 16pt;
      color: #322323;
      margin: 1rem 0 .5rem;
    }

    h2 {
      font-size: 1rem;
      margin: .5rem 0;
    }

    h3 {
      font-size: .75rem;
      margin-bottom: 0;
    }

    p.updated {
      margin-top: .25ex;
      font-weight: 300;
      color: #988989;
    }

    p.out {
      font-weight: 700;
      margin: 0;
    }
  }

  div.leaflet-marker-icon span {
    color: white;
    font-weight: bold;
    border-radius: 1em;
    margin: 1ex;
    padding: .5ex;

    &.active {
      background-color: rgba(200, 56, 20, .85);
      z-index: 10000;
    }

    &.inactive {
      background-color: rgba(100, 100, 100, .6);
      z-index: 500;
    }

    &.small {
      border-radius: 50%;
      width: 1em;
      height: 1em;
      display: inline-block;
      z-index: 300;
    }
  }

  .splash-screen .billboard {
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
    min-height: 550px;
    max-width: 930px;
    margin: 5em auto;
    padding: 1ex;
    background: no-repeat url("../images/scott-fire-fade.jpg") bottom left / cover;
    h1 {
      width: 75%;
      font-size: 20pt;
      padding: 1ex;
      color: #000;
    }
    p {
      padding: 1em;
    }
    ul {
      li {
      }
      margin-bottom: 1em;
    }
    .abstractWrapper {
      @media screen and (max-width: 930px) {

      }
      @media screen and (min-width: 931px) {
        max-width: 50%;
      }
      background: rgba(255, 255, 255, .8);
      border-radius: 1ex;
      margin: 1em;
    }
    .buttons {
      margin: 1em;
      padding-bottom: 1em;
      a {
        color: white;
        font-weight: 700;
      }
    }
  }
}
