._d5a90928-2119-11e6-92e2-08002742f21f * {

  .leaflet-popup-content {
    z-index: 1000;

    h1 {
      font-size: 16pt;
      color: #322323;
      margin: 1rem 0 .5rem;
    }

    h2 {
      font-size: 1rem;
      margin: .5rem 0;
    }

    h3 {
      font-size: .75rem;
      margin-bottom: 0;
    }

    p.updated {
      margin-top: .25ex;
      font-weight: 300;
      color: #988989;
    }
  }

  div.leaflet-marker-icon span {
    color: white;
    font-weight: bold;
    border-radius: 1em;
    margin: 1ex;
    padding: .5ex;

    &.active {
      background-color: rgba(200, 56, 20, .85);
      z-index: 10000;
    }

    &.inactive {
      background-color: rgba(100, 100, 100, .6);
      z-index: 500;
    }

    &.small {
      border-radius: 50%;
      width: 1em;
      height: 1em;
      display: inline-block;
      z-index: 300;
    }
  }

  #splashOverviewContent {
    h1 {
      margin: 0 0 1ex 0 !important;
      padding: 0 !important;
    }
    ul {
      margin-bottom: 1em;
    }
  }
}
