._d5a90928-2119-11e6-92e2-08002742f21f * {

  .leaflet-popup-content {
    z-index: 1000;

    h1 {
      font-size: 16pt;
      color: #322323;
      margin: 1rem 0 .5rem;
    }

    h2 {
      font-size: 1rem;
      margin: .5rem 0;
    }

    h3 {
      font-size: .75rem;
      margin-bottom: 0;

      &.discovered {
        margin-top: 0;
        font-weight: 500;
      }
    }

    p.updated {
      margin-top: .25ex;
      font-weight: 300;
      color: #988989;
    }

    p.out {
      font-weight: 700;
      margin: 0;
    }
  }

  div.leaflet-marker-icon span {
    color: white;
    font-weight: bold;
    border-radius: 1em;
    margin: 1ex;
    padding: .5ex;

    &.active {
      background-color: rgba(200, 56, 20, .85);
      z-index: 10000;
    }

    &.inactive {
      background-color: rgba(100, 100, 100, .6);
      z-index: 500;
    }

    &.small {
      border-radius: 50%;
      width: 1em;
      height: 1em;
      display: inline-block;
      z-index: 300;
    }
  }

  .splash-screen .billboard {

    @media screen and (max-width: 930px) {
      padding: 0;
      margin: 0;

      h1 {
        width: 100%;
        font-size: 14pt;
        font-weight: 500;
      }
    }

    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);
    min-height: 550px;
    max-width: 930px;
    margin: 5em auto;
    padding: 1ex;
    background: url("../images/scott-fire-fade.jpg") white bottom left / cover no-repeat;
    h1 {
      width: 75%;
      font-size: 20pt;
      padding: 1ex;
      color: #000;
    }
    p {
      padding: 1em;
    }
    ul {
      li {
      }
      margin-bottom: 1em;
    }
    .abstractWrapper {
      @media screen and (max-width: 768px) {
        width: 100%;
        border-radius: 0;
        margin: 0;
        font-size: 10pt;
        ul {
          margin-right: 1em;
        }
      }
      @media screen and (min-width: 769px) {
        max-width: 50%;
      }
      background: rgba(255, 255, 255, .8);
      border-radius: 1ex;
      margin: 1em;
    }
    .buttons {
      margin: 1em;
      padding-bottom: 1em;
      font-weight: 700;
    }
  }

  .graph-screen {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(150, 168, 48, 0.8);
    z-index: 3000;
    > div {
      padding: 2rem;
      background-color: rgba(255, 255, 255, .8);
      width: 80%;
      margin: 4rem auto;
      box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.75);

      .graph-content {
        background-color: rgba(255, 255, 255, 1.0);
        padding: 1em 2em;
      }

      button {
        position: relative;
        top: -1.5em;
        right: -1.75em;
        font-size: 25pt;
      }
    }
  }
}
