<div class="graph-screen" ng-show="graphVisible">
  <div>
    <button type="button" class="close" aria-label="Close" ng-click="hideGraph()">
      <span aria-hidden="true">&times;</span>
    </button>
    <plotly plotly-data="graphData" plotly-layout="graphLayout" plotly-options="graphOptions"></plotly>
    <div class="graph-content">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true" ng-click="hideGraph()">&times;</span>
      </button>
      <plotly plotly-data="graphData" plotly-layout="graphLayout" plotly-options="graphOptions"></plotly>
      <p id="graph-description" ng-bind-html="graphDescription"></p>
    </div>
  </div>
</div>