<div class="jumbotron">
  <h1>Discover, Access, Use Arctic Data</h1>
  <p class="lead">
    Here's where some on-ramps go.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>What should go on this main page?</h4>
  <p>
    Plenty of room here.  Pictures of the maps?
  </p>

  <h4>What exactly is an on-ramp?</h4>
  <p>
    I have no idea but we'll know it when we build it.
  </p>
</div>
