<div class="container about">
  <a target="_blank" href="https://www.snap.uaf.edu"><img class="snap" alt="SNAP Logo" src="/images/snap_color_lato.svg" /></a>
  <h1>MapVentures</h1>
  <h2 class="subtitle">Interactive maps of Alaska + Arctic data</h2>
  <h3 class="featuring">&mdash; featuring &mdash;</h3>
  <map-list></map-list>
  <p>
    Map development by <a href="https://www.snap.uaf.edu" target="_blank">SNAP</a>.<br/>
    Source code for this project is available on <a target="_blank" href="https://github.com/ua-snap/mapventure">GitHub</a>.<br/>
    Questions? <span>uaf-mapventure@alaska.edu</span>
  </p>
  <h4 class="tools"><a target="_blank" href="https://www.snap.uaf.edu/tools-and-data/all-analysis-tools">See all SNAP climate + weather analysis tools</a></h4>
  <div class="sponsors">
    <a href="https://web.iarc.uaf.edu" target="_blank"><img alt="IARC Logo" src="/images/IARC_color_square.png"/></a>
    <a href="http://www.uaf.edu" target="_blank"><img alt="UAF Logo" src="/images/UAFLogo_A_647.svg"/></a>
  </div>
  <p>UAF is an affirmative action/equal opportunity employer and educational institution and prohibits illegal discrimination against any individual. <a href="http://www.alaska.edu/titleIXcompliance/nondiscrimination">UA statement of nondiscrimination</a></p>

</div>
