<div ng-hide="splashHide" class="fade splash-screen">
  <h2 id="mapLoadingOverlayText">Hang on while the map is loading&hellip;</h2>
  <img src="images/ajax-loader.gif" />
</div>
<div class="layer-menu" ng-class="{'clear': minimized}">
  <div>
    <label id="minimize-layer-menu" class="btn btn-default btn-xs" ng-click="minimize_menu()">
      <span ng-hide="minimized" class="glyphicon glyphicon-minus"></span>
      <span ng-show="minimized" class="glyphicon glyphicon-plus"></span>
    </label>
  </div>
  <div ng-hide="minimized">
  <div class="map">
    <h2 id="mapTitle">{{ map.title }}</h2>
    <div>
    <label id="showMapInformation" class="btn btn-primary info" ng-click="showMapInformation(map.id)">
      <span class="glyphicon glyphicon-question-sign"></span>
    </label>
    <label id="showDualMaps" class="btn btn-primary info" ng-click="showDualMaps()">
      <span ng-hide="dualMaps" class="glyphicon glyphicon-unchecked"></span>
      <span ng-hide="dualMaps">|</span>
      <span class="glyphicon glyphicon-unchecked"></span>
    </label>
    <label id="syncDualMaps" class="btn btn-primary info" ng-class="{'btn-success': syncMaps}" ng-show="dualMaps" ng-click="syncDualMaps()">
      <span class="glyphicon glyphicon-flash"></span>
    </label>
    </div>
  </div>
  <div ui-sortable="sortableOptions" ng-model="map.layers">
    <div id="{{ layer.name }}" class="layer" data-toggle="buttons" ng-repeat="layer in map.layers">
      <label class="btn btn-primary visibility" ng-click="$parent.toggleLayer(layer.name)">
        <span class="glyphicon glyphicon-eye-close" ng-hide="$parent.layers[layer.name].visible"></span>
        <span class="glyphicon glyphicon-eye-open" ng-show="$parent.layers[layer.name].visible"></span>
        <input type="checkbox" autocomplete="off">
      </label>
      <label class="btn btn-primary visibility" ng-show="dualMaps" ng-click="$parent.toggleSecondLayer(layer.name)">
        <span class="glyphicon glyphicon-eye-close" ng-hide="$parent.layers[layer.name].secondvisible"></span>
        <span class="glyphicon glyphicon-eye-open" ng-show="$parent.layers[layer.name].secondvisible"></span>
        <input type="checkbox" autocomplete="off">
      </label>
      <label class="btn btn-primary info" ng-click="$parent.showLayerInformation(layer.name)">
        <span class="glyphicon glyphicon-info-sign"></span>
      </label>
      {{ layer.title }}
    </div>
  </div>
  <label class="btn btn-primary" ng-click="startTour()">
    <span class="glyphicon glyphicon-question-sign"></span>
    &nbsp;
    Take a tour of this map&hellip;
  </label>
</div>
</div>
<div id="info-sidebar"></div>
<div id="snapmapapp" ng-class="{'half': dualMaps}"></div>
<div id="secondmap" ng-class="{'half': dualMaps}"></div>
