<h1 id="mapTitle">{{ map.title }}</h1>

<tour></tour>

<div ng-hide="hideSplash" class="fade splash-screen">
  <div class="billboard">
    <div id="splashOverviewContent"></div>
    <button type="button" class="btn btn-success" ng-click="hideSplash=true" ng-disabled="showMapButtonDisabled" disabled="disabled">
      Show me the map!
    </button>
  </div>
</div>

<div id="minimize-layer-div">
  <label id="minimize-layer-menu" class="btn btn-default btn-xs" ng-click="minimize_menu()">
    <span ng-hide="minimized" class="glyphicon glyphicon-minus"></span>
    <span ng-show="minimized" class="glyphicon glyphicon-plus"></span>
  </label>
</div>

<div class="layer-menu" ng-hide="minimized">
  <div ui-sortable="sortableOptions" ng-model="map.layers">
    <div id="{{ layer.name }}" class="layer" data-toggle="buttons" ng-repeat="layer in map.layers">
      <!-- Buttons for first map -->
      <label class="btn btn-success visibility" ng-show="$parent.layers[layer.name].visible" ng-click="$parent.toggleLayer(layer.name)">
        <span class="glyphicon glyphicon-check" ></span>
        <input type="checkbox" autocomplete="off">
      </label>
      <label class="btn btn-primary visibility" ng-hide="$parent.layers[layer.name].visible" ng-click="$parent.toggleLayer(layer.name)">
        <span class="glyphicon glyphicon-unchecked"></span>
        <input type="checkbox" autocomplete="off">
      </label>
      <!-- Buttons for second map -->
      <label class="btn btn-success visibility" ng-show="dualMaps && $parent.layers[layer.name].secondvisible" ng-click="$parent.toggleSecondLayer(layer.name)">
        <span class="glyphicon glyphicon-check"></span>
        <input type="checkbox" autocomplete="off">
      </label>
      <label class="btn btn-primary visibility" ng-show="dualMaps && !$parent.layers[layer.name].secondvisible" ng-click="$parent.toggleSecondLayer(layer.name)">
        <span class="glyphicon glyphicon-unchecked"></span>
        <input type="checkbox" autocomplete="off">
      </label>
      <!-- Information about layer button -->
      <label class="btn btn-primary info" ng-click="$parent.showLayerInformation(layer.name)">
        <span class="glyphicon glyphicon-info-sign"></span>
      </label>
      {{ layer.title }}
    </div>
  </div>

  <div class="mapTools form-inline">
  <div>
    <label id="showMapInformation" class="btn btn-primary info" ng-click="showMapInformation(map.id)">
      <span class="glyphicon glyphicon-question-sign"></span>
      &nbsp;
      About this map&hellip;
    </label>
    </div>
    <label id="downloadMap" class="btn btn-primary info" ng-click="downloadMap(map.id)">
      <span ng-show="progress <= 0" class="glyphicon glyphicon-download-alt"></span>
      <img ng-show="progress > 0" src="images/spinning.gif"/>
      &nbsp;
      Download data
    </label>
    <label id="showDualMaps" class="btn btn-primary info" ng-click="showDualMaps()">
      <span ng-hide="dualMaps" class="glyphicon glyphicon-unchecked"></span>
      <span ng-hide="dualMaps">|</span>
      <span class="glyphicon glyphicon-unchecked"></span>
      &nbsp;
      Split / single map
    </label>
    <label id="syncDualMaps" class="btn btn-primary info" ng-class="{'btn-success': syncMaps}" ng-show="dualMaps" ng-click="syncDualMaps()">
      <span class="glyphicon glyphicon-flash"></span>
      &nbsp;
      Synchronize maps
    </label>
    <label class="btn btn-primary" ng-click="startTour()">
      <span class="glyphicon glyphicon-question-sign"></span>
      &nbsp;
      Take a tour of this map&hellip;
    </label>
  </div>
</div>

<div id="info-sidebar"></div>

<div id="mapsWrapper">
  <div id="snapmapapp" ng-class="{'half': dualMaps}"></div>
  <div id="secondmap" ng-class="{'half': dualMaps}"></div>
</div>

<script type="text/ng-template" id="mapDownload">
  <div ng-show="progress >= 0" align='center'><h1>Downloading Map</h1><p>This can take several minutes. Do not close the map until the file has finished downloading.</p>
    <uib-progressbar max="100" value="progress">
      <span style="color:white; white-space:nowrap;">{{ progress }}% Done</span>
    </uib-progressbar>
  </div>
  <div ng-show="progress === -1" align='center'><h1>Download Finished</h1></div>
  <div ng-show="progress === -2" align='center'><h1>Error: Download Failed</h1><p>Please try downloading the map again. Occasionally, this happens when the server load is high.</p></div>
</script>
</div>
