<div class="layer-menu">
  <h2>{{ map.title }}</h2>
  <div class="layer" data-toggle="buttons" ng-repeat="layer in map.layers">
    <label class="btn btn-primary" ng-click="$parent.toggleLayer(layer.name)">
      <span class="glyphicon glyphicon-eye-close" ng-hide="$parent.layers[layer.name].visible"></span>
      <span class="glyphicon glyphicon-eye-open" ng-show="$parent.layers[layer.name].visible"></span>
      <input type="checkbox" autocomplete="off">
    </label>
    <label class="btn btn-primary" ng-click="$parent.showLayerInformation(layer.name)">
      <span class="glyphicon glyphicon-info-sign"></span>
    </label>
    {{ layer.title }}
  </div>
</div>
<div id="info-sidebar"></div>
<div id="snapmapapp"></div>
