<div ng-hide="hideSplash" class="fade splash-screen">
  <div class="billboard">
    <div class="abstract" ng-bind-html="abstract"></div>
    <div class="buttons">
      <button type="button" class="mobile-hidden btn btn-lg btn-success" ng-click="hideSplash=true; startTour(tour._current)" ng-disabled="showMapButtonDisabled" disabled="disabled">
        <span ng-show="tour._current == null || tour._current == undefined">Take a tour of this map&hellip;</span>
        <span ng-show="tour._current != null && tour._current >= 0">Continue tour&hellip;</span>
      </button>
      <button ng-click="hideSplash=true; endTour()" class="btn btn-lg btn-default" ng-disabled="showMapButtonDisabled" disabled="disabled">
        Show map
      </button>
    </div>
    <div class="logos align-middle">
      <a href="http://snap.uaf.edu" target="_blank"><img src="images/snap_logo_white.png" class="snap"></a>
      <a href="http://web.iarc.uaf.edu" target="_blank"><img src="images/iarc_logo_gray.png" class="iarc"></a>
      <a href="http://uaf.edu" target="_blank"><img src="images/uaf_logo_white.png" class="uaf"></a>
    </div>
  </div>
</div>
